.box--item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.7) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.75) 0px 1px 3px -1px;

  background-color: white;
  user-select: none;
}
.font--color-red {
  color: red;
}
.font--color-blue {
  color: blue;
}
